@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  body {
    @apply bg-gray-200 dark:bg-grayDarkNest dark:text-white text-grayDarkNest antialiased;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .svg-animation {
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    animation: dash 3s linear forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
@layer utilities {
  .bgDarkMode {
    @apply bg-white dark:bg-grayDarker;
  }
  .borderDarkMode {
    @apply border-gray-200 dark:border-opacity-10;
  }
 .flexCenter {
  @apply flex items-center justify-center
 }
}
@media screen and (max-width:1023.98px) {
  .course-slider {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
    }
    .course-slider::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    .course-slider > *{
      scroll-snap-align: start;
    }
    // .responsiveSellCourse{
    //   position: fixed;
    //   bottom: 62px;
    //   right: 0;
    //   left: 0;
 
    // }

}


.table-responsive{
  @media screen and (max-width:1023.98px)  {
    th,td{
      &:not(:first-child) {
        padding-left: 50px;
      }
    }
  } 
}

